header {
	background-color: #0020F4;
	height: 388px;
	padding-top: 50px;
	padding-left: 240px;
}
.logo {
	width: 115px;
	margin-right: 603px;
}
.navbar-a {
	color: white;
	font-size: 16px;
	text-decoration: none;
	margin-right: 27px;
}
ul{
	list-style-type: none;
}
.main-image {
	height: 600px;
}

h2 {
	font-size: 28px;
	margin-top: 30px;
}
div {
	margin-bottom: 60px;
}
.formargin {
	margin-right: 25px;
}
p {
	font-size: 16px;
}
.mid {
	margin-top: 16px;
	margin-bottom: 16px;
}
.editional-information {
	font-size: 16px;
	color: white;
	background-color:#0020F4;
	text-decoration: none;
	margin-top: 58px;
	margin-bottom: 180px;
}
footer {
	background-color: #0020F4;
	height: 1080px;
	padding-bottom: 32px;
	padding-top: 275px;
	margin-top: 60px;
}
.footer-logo {
	width: 121px;
}
h6 {
	color: white;
	font-size: 16px;
}